<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header(title = 'Longitudes')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="wrapper">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <div class="container-fluid p-4">
                    <div
                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 th:text="${#strings.isEmpty(movimientos.idMovimiento) ? 'Crear movimiento' : 'Editar movimiento'}"
                            class="h2"></h1>
                    </div>

                    <div th:if="${mensaje}"
                        th:classappend="${tipoMensaje == 'success' ? 'alert alert-success alert-dismissible fade show' : 'alert alert-danger alert-dismissible fade show'}"
                        role="alert">
                        <span th:text="${mensaje}"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form
                        th:action="@{${movimientos.idMovimiento == null ? '/movimientos/crear' : '/movimientos/editar/' + movimientos.idMovimiento} }"
                        th:object="${movimientos}" method="post">

                        <!-- Campo titulo -->
                        <div class="mb-3">
                            <label for="titulo" class="form-label">Titulo</label>
                            <input type="text" id="titulo" name="titulo" class="form-control" th:field="*{titulo}"
                                required>
                        </div>

                        <!-- Botones -->
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <a href="/movimiento" class="btn btn-secondary">Cancelar</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/jsComponents :: jsScripts"></div>
</body>

</html>