<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header(title = 'Inicio')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa</title>
</head>

<body>
    <div id="wrapper">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <div class="container form-container p-3">
                    <h2 class="mb-4"
                        th:text="${#strings.isEmpty(empresa.idEmpresa) ? 'Registrar Empresa' : 'Editar Empresa'}"></h2>

                    <div th:if="${mensaje}"
                        th:classappend="${tipoMensaje == 'success' ? 'alert alert-success alert-dismissible fade show' : 'alert alert-danger alert-dismissible fade show'}"
                        role="alert">
                        <span th:text="${mensaje}"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form
                        th:action="@{${empresa.idEmpresa == null} ? '/empresa/guardar' : '/empresa/editar/' + ${empresa.idEmpresa} }"
                        th:object="${empresa}" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label">Nombre de la Empresa</label>
                            <input type="text" th:field="*{nombreEmpresa}" class="form-control"
                                placeholder="Ej: Industrias ACME" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Rubro</label>
                            <input type="text" th:field="*{rubroEmpresa}" class="form-control"
                                placeholder="Ej: Tecnología, Construcción, etc.">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Dirección</label>
                            <input type="text" th:field="*{direccion}" class="form-control"
                                placeholder="Dirección completa">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Teléfono</label>
                            <input type="text" th:field="*{telefono}" class="form-control"
                                placeholder="Ej: +503 1234-5678" maxlength="9">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Correo Electrónico</label>
                            <input type="email" th:field="*{correoEmpresa}" class="form-control"
                                placeholder="correo@empresa.com">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">NIT</label>
                            <input type="text" th:field="*{nit}" class="form-control"
                                placeholder="Número de identificación fiscal" maxlength="17">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Representante Legal</label>
                            <input type="text" th:field="*{representante}" class="form-control"
                                placeholder="Nombre completo del representante">
                        </div>
                        <div class="mb-3">
                            <label for="logoEmpresa">Logo</label>
                            <input type="file" id="logoEmpresa" name="logoEmpresa" class="form-control"
                                accept=".png, .jpg, .jpeg">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Contraseña</label>
                            <input type="password" th:field="*{password}" class="form-control">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Guardar información</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/jsComponents :: jsScripts"></div>
    <script>
        function formatPhoneInput(event) {
            let input = event.target;
            let value = input.value.replace(/[^0-9]/g, "");
            if (value.length > 4) {
                value = value.slice(0, 4) + "-" + value.slice(4);
            }
            input.value = value;
        }
        function formatCustomInput(event) {
            let input = event.target;
            let value = input.value.replace(/[^0-9]/g, "");

            if (value.length > 4) {
                value = value.slice(0, 4) + "-" + value.slice(4);
            }
            if (value.length > 11) {
                value = value.slice(0, 11) + "-" + value.slice(11);
            }
            if (value.length > 15) {
                value = value.slice(0, 15) + "-" + value.slice(15);
            }

            input.value = value;
        }

        document.getElementById("telefono").addEventListener("input", formatPhoneInput);
        document.getElementById("nit").addEventListener("input", formatCustomInput);

        // Validacion imagen
        document.getElementById("logoEmpresa").addEventListener("change", function (event) {
            const file = event.target.files[0];
            if (file) {
                const validExtensions = ["image/png", "image/jpeg"];
                if (!validExtensions.includes(file.type)) {
                    alert("Solo se permiten archivos PNG o JPG.");
                    event.target.value = "";
                }
            }
        });
    </script>
</body>

</html>