<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header(title = 'Usuarios')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="wrapper">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <div class="container form-container p-3">
                    <h1 th:text="${#strings.isEmpty(rol.idRol) ? 'Crear rol' : 'Editar rol'}"
                        class="h3 mb-4 text-gray-800"></h1>

                    <div th:if="${mensaje}"
                        th:classappend="${tipoMensaje == 'success' ? 'alert alert-success alert-dismissible fade show' : 'alert alert-danger alert-dismissible fade show'}"
                        role="alert">
                        <span th:text="${mensaje}"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form th:action="@{${rol.idRol == null ? '/roles/crear' : '/roles/editar/' + rol.idRol} }"
                        th:object="${rol}" method="post">

                        <!-- Campo descripcion -->
                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripcion</label>
                            <input type="text" id="descripcion" name="descripcion" class="form-control"
                                th:field="*{descripcion}" required>
                        </div>


                        <!-- Campo Estado -->
                        <div class="mb-3">
                            <label for="estado" class="form-label">Estado</label>
                            <select id="estado" name="estado" class="form-control" th:field="*{estado}" required>
                                <option value="" disabled selected>Seleccionar...</option>
                                <option value="A" th:selected="${rol.estado == 'A'}">Activo</option>
                                <option value="I" th:selected="${rol.estado == 'I'}">Inactivo</option>
                            </select>
                        </div>

                        <!-- Botones -->
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <a href="/roles" class="btn btn-secondary">Cancelar</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/jsComponents :: jsScripts"></div>
</body>

</html>