<!-- templates/fragments/sidebar.html -->
<div th:fragment="sidebar">
    <div class="sidebar d-flex flex-column">
        <!-- Botón de menú hamburguesa solo visible en pantallas chicas -->
        <button class="btn btn-light d-md-none mb-3" type="button" data-bs-toggle="collapse"
            data-bs-target="#menuSidebar" aria-controls="menuSidebar" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>

        <!-- Menú colapsable -->
        <div class="collapse d-md-block" id="menuSidebar">
            <div class="brand-logo mb-3">
                <i class="bi bi-box2"></i> SISTEMA INVENTARIO
            </div>

            <h6>Home</h6>
            <a th:href="@{/inicio}" class="nav-link">
                <i class="bi bi-grid-fill"></i> Dashboard
            </a>

            <div sec:authorize="hasRole('ADMIN')">
                <h6>Utilidades</h6>
                <a th:href="@{/longitud}" class="nav-link">
                    <i class="bi bi-rulers"></i> Medidas de longitud
                </a>
                <a th:href="@{/peso}" class="nav-link">
                    <i class="bi bi-bar-chart-fill"></i> Medidas de peso
                </a>
                <a th:href="@{/unidades}" class="nav-link">
                    <i class="bi bi-collection-fill"></i> Unidades de medida
                </a>
                <a th:href="@{/usuarios}" class="nav-link">
                    <i class="bi bi-people-fill"></i> Usuarios
                </a>
                <a th:href="@{/roles}" class="nav-link">
                    <i class="bi bi-gear-fill"></i> Roles
                </a>
            </div>

            <div>
                <h6>Inventario</h6>
                <a href="/productos" class="nav-link">
                    <i class="bi bi-archive-fill"></i> Productos
                </a>
                <a href="/categoria" class="nav-link">
                    <i class="bi bi-collection-fill"></i> Categorías
                </a>
                <a href="/inventario" class="nav-link">
                    <i class="bi bi-box-seam-fill"></i> Inventario
                </a>
                <a href="/movimiento" class="nav-link">
                    <i class="bi bi-arrow-left-right"></i> Movimientos
                </a>
            </div>

            <h6>Auth</h6>
            <a th:href="@{/logout}" class="nav-link">
                <i class="bi bi-box-arrow-in-right"></i> Cerrar sesión
            </a>
        </div>
    </div>
</div>