<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header(title = 'Inicio de sesión')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="p-5">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image">
                                <img th:src="@{/images/{img}(img=${'11244147.jpg'})}" alt="Logo de la empresa"
                                    class="img-fluid border rounded-3 shadow-sm p-2 w-100">
                            </div>

                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center mb-4">
                                        <h1 class="h3 text"><i class="fas fa-door-open me-2"></i>¡Bienvenido!
                                        </h1>
                                    </div>

                                    <form class="user" th:action="@{/access}" method="post">
                                        <div class="form-group mb-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-secondary text-white">
                                                        <i class="fas fa-user"></i>
                                                    </span>
                                                </div>
                                                <input type="text" name="username" class="form-control" id="username"
                                                    placeholder="Usuario" required>
                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-secondary text-white">
                                                        <i class="fas fa-lock"></i>
                                                    </span>
                                                </div>
                                                <input type="password" name="password" class="form-control"
                                                    id="exampleInputPassword" placeholder="Contraseña" required>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-secondary btn-block">
                                            <i class="fas fa-sign-in-alt me-1"></i> Iniciar Sesión
                                        </button>
                                    </form>

                                    <hr>
                                    <p th:if="${param.error}" class="alert alert-warning" role="alert">Usuario o
                                        contraseña incorrectos.</p>
                                    <p th:if="${param.logout}" class="alert alert-warning" role="alert">Has cerrado
                                        sesión exitosamente.</p>

                                    <div th:if="${mensaje}"
                                        th:classappend="${tipoMensaje == 'success' ? 'alert alert-success alert-dismissible fade show' : 'alert alert-danger alert-dismissible fade show'}"
                                        role="alert">
                                        <span th:text="${mensaje}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/alertFade.js}"></script>

    <script>
        $(document).ready(() => {
            $('#idCarrera').on("change", function () {
                $.ajax({
                    url: "/pasantias/obtenerCarrera/" + this.value,
                    type: "GET",
                    success: function (data) {
                        // Actualizar el input con el código
                        document.querySelector("#num-carrera").value = data.codCarrera;

                        // Actualizar la imagen
                        const imgElement = document.querySelector("#imagen-carrera");
                        imgElement.src = "/images/" + data.imagen;

                        // Si falla la carga de imagen, mostrar la por defecto
                        imgElement.onerror = function () {
                            this.onerror = null;
                            this.src = "/images/default.jpg";
                        };
                    }
                });
            });
        });

    </script>
</body>

</html>